body {
    background: url('../images/lab_bg.jpg') no-repeat;
    background-size: 100%;
    
}

#mainContainer{
     width: 1600px !important;
    height: 800px !important;
    margin: auto !important;
    margin-top: 100px !important;
    vertical-align: middle;
}


#readingsPanelInstant{
    width: auto;
    height: auto;
}

table{
    background-color:white !important;
}
#canvas {
        border:1px solid red;
    width: 1100px;
    height: 800px;
    margin: auto;
    float:left;
  
}
#graphPanel{
    float:left;
    width: 500px;
    height:800px;
    border:1px solid red;
}

#drawingPanel{
    margin:auto;
    height:600px !important;
    width:auto;
    background: url('../images/wooden_texture.jpg') no-repeat;
    background-size: 100%;
}
select{
    height:30px;
}


#takeReading{

    width:auto;
    margin:auto;
}

#graphControls{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}

