body {
}

#canvas{
    width:1000px;
    height:600px;
    margin:auto;
}
#widgetPanel{
    /*height:100px;
    width:auto;
    border:1px solid red;*/
}
#drawingPanel{
    border:1px solid red;
    margin:auto;
    height:auto;
    width:auto;
}
#readingsPanel{
    border:1px solid red;
    margin:auto;
    height:100px;
    width:auto;
}
.port:hover{
     stroke: red;
    stroke-width: 1px;
}
